.contents
  %p.retro だれと？
  -@users.each do |user|
    - unless user == current_user
      .blackboard.retro
        = link_to user.name, "/users/#{user.id}/battle", method: :get, class: 'retro sentaku'