%link#bootstrap-css{:href => "//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}/
%script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
%script{:src => "//code.jquery.com/jquery-1.11.1.min.js"}
/ ---- Include the above in your HEAD tag --------
%link{:href => "http://fonts.googleapis.com/css?family=Raleway:400,200", :rel => "stylesheet", :type => "text/css"}/
.container
  .row.login_box
    .col-md-12.col-xs-12{:align => "center"}
      %h3 Post new
    .col-md-12.col-xs-12.login_control
      = form_for (@posts) do |f|
        .control
          .label Title
          = f.text_field :title ,class: 'form-control bg-secondary',class:"form-control"
        .control
          .label Text
          = f.text_area :text ,class: 'form-control bg-secondary',class:"form-control"
        %div{:align => "center"}
          = f.submit "Post", class: 'btn btn-orange'